



.products-container {
display: flex;
}

.container {
  border: 1px solid white;
  width: 100px;
  height: 500px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px;
}


.images {
  height: 60px;
  width: auto;
}

.decription {
  text-align: justify;

}



.todo-container {
  max-width : 600px; 
  height : auto;
  border: 1px solid black;
}

.input {
  width: 400px;
  height: 70px;
  border-radius: 20px;
  margin: 50% ;
}